.img{
    width:1600px;
    height:600px;
}

@media only screen and (max-width:576px){
    .img{
 height:250px;
 width:300px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .img{
        height:350px;
        width:600px;
           }
}
@media only screen and (min-width:993px) and (max-width:1400px){
    .img{
        height:1280px;
        width:620px;
           }
}